KIMI_API_KEY=
KIMI_BASE_URL=https://api.kimi.com/coding/v1
KIMI_MODEL=kimi-for-coding
KIMI_TIMEOUT=300
KIMI_MAX_RETRIES=0
TGB_AUTHOR_ID=5894557
TGB_AUTHOR_NAME=延边刺客
TGB_BLOG_URL=https://m.tgb.cn/blog/5894557
TGB_TIMEOUT=20
TGB_INTERVAL=0.35
TGB_MAX_RETRIES=3
TGB_MAX_LIST_PAGES=60
TGB_MAX_COMMENT_PAGES=12
TGB_TOP_POST_LIMIT=20
TGB_COMMUNITY_MIN_LIKES=5
TGB_COMMUNITY_MAX_PER_POST=20
# 默认读取软件上一级目录中的“延边刺客短线打板体系.docx”
REVIEW_MANUAL_SYSTEM_DOCX=
# 私有驾驶舱站点地址，一般无需修改
REVIEW_SITE_URL=https://fupan-cockpit.junxicai1.chatgpt.site
